body {
    background-image: linear-gradient(red, black);
    // background-attachment: fixed;
    margin: 0;
}

.clock {
    // border: 2px solid pink;
    position: relative;
    height: 100vh;

    .clockFace {
        margin: 0;
        padding: 0;
        border: 4px solid white;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        position: relative;
        top: 10%;
        left: 30%;
        // background-image: linear-gradient(to right, black, red);
        // transform: translateY(-7px);

        .turningFace {
            // border: 4px solid rgb(13, 227, 45);
            margin: 0;
            border-radius: 50%;
            width: 500px;
            height: 500px;
            // position: absolute;
            // // top: %;
            // // left: 1.13%;
            background-image: linear-gradient(to right, black, red);
            background-size: cover;
            // animation-name: clockRotate;
            animation-duration: 5s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            animation-timing-function: linear;
            z-index: 1;
            // transform: translateY(-7px);
        }

        .centerDot {
            position: absolute;
            top: 235px;
            left: 235px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgb(16, 229, 176);
            opacity: 10.4;
            z-index: 311;
        }

        .hand {
            // display: none;
            width: 6PX;
            height: 220px;
            // background-color: aqua;
            position: absolute;
            top: 6%;
            left: 49.6%;
            z-index: 2;
            transform-origin: center bottom;
            transform: rotate(0deg);
            transition: all 0.05s;
            transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
        }
        
        #hourH{
            background-color: rgb(76, 236, 13);
            width: 12px;
            height: 160px;
            top: 18%;
            left: 49%;
            border-top-left-radius: 10px;
            border-top-right-radius: 7px;
            // transform: rotate(0deg);
        }
        #minuteH{
            background-color: rgb(236, 217, 13);
            // transform: rotate(0deg);
        }
        #secondH {
            background-color: rgb(255, 255, 255);
            // transform: rotate(0deg);
        }

        .digitalClock {
            background-color: rgb(55, 6, 6);
            // color: green;
            width: 160px;
            height: 60px;
            border: 1px solid rgb(55, 6, 6);
            border-radius: 10px;
            position: absolute;
            bottom: 50px;
            left: 170px;
            display: flex;
            justify-content: space-evenly;
            z-index: 2;

            .digit {
                // border: 1px solid green;
                width: 51px;
                height: 40px;
                margin-top: 9px;
                color: rgb(0, 255, 0);
            }

            #sec {
                display: flex;
                justify-content: center !important;

                p {
                    margin-top: 10%;
                    font-weight: bold;
                    font-size: 30px;
                    letter-spacing: 3px;
                }
            }
            
            #min {
                display: flex;
                justify-content: center !important;

                p {
                    margin-top: 10%;
                    font-weight: bold;
                    font-size: 30px;
                    letter-spacing: 3px;
                }
            }
            
            #hr {
                display: flex;
                justify-content: center !important;

                p {
                    margin-top: 10%;
                    font-weight: bold;
                    font-size: 30px;
                    letter-spacing: 3px;
                }
            }
            
        }


        .dots {
            height: 53%;
            width: fit-content;
            // border: 2px solid black;
            // text-align: center;
            display: flex;
            align-content: flex-end;
            transform-origin: 53% 90%;
            // transform: rotate(30deg);
            position: absolute;
            top: 01.7%;
            left: 48.32%;


            .dotsPara {
                margin: 0px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: white;
                border: 2px solid white;
                // font-size: 20px;
                // font-weight: bolder;
            }

            .dotPara {
                margin: 0px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: transparent;
                color: white;
                font-size: 22px;
                font-weight: bold;
                position: relative;
                right: 3px;
                bottom: 6px;
                // border: 2px solid none !important;

            }
            
        }
    }
}

@keyframes clockRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}