body {
  background-image: linear-gradient(red, black);
  background-attachment: fixed;
  margin: 0;
}

.clock {
  position: relative;
  height: 100vh;
}
.clock .clockFace {
  margin: 0;
  padding: 0;
  border: 4px solid white;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: relative;
  top: 10%;
  left: 30%;
}
.clock .clockFace .turningFace {
  margin: 0;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  position: absolute;
  top: 7%;
  left: 7%;
  background-image: linear-gradient(to right, black, red);
  background-size: cover;
  -webkit-animation-name: clockRotate;
          animation-name: clockRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 1;
}
.clock .clockFace .centerDot {
  position: absolute;
  top: 235px;
  left: 235px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(16, 229, 176);
  opacity: 10.4;
  z-index: 311;
}
.clock .clockFace .hand {
  width: 6PX;
  height: 220px;
  position: absolute;
  top: 6%;
  left: 49.6%;
  z-index: 2;
  transform-origin: center bottom;
  transform: rotate(0deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.clock .clockFace #hourH {
  background-color: rgb(76, 236, 13);
  width: 12px;
  height: 160px;
  top: 18%;
  left: 49%;
  border-top-left-radius: 10px;
  border-top-right-radius: 7px;
}
.clock .clockFace #minuteH {
  background-color: rgb(236, 217, 13);
}
.clock .clockFace #secondH {
  background-color: rgb(255, 255, 255);
}
.clock .clockFace .digitalClock {
  background-color: rgb(55, 6, 6);
  width: 160px;
  height: 60px;
  border: 1px solid rgb(55, 6, 6);
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  left: 170px;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}
.clock .clockFace .digitalClock .digit {
  width: 51px;
  height: 40px;
  margin-top: 9px;
  color: rgb(0, 255, 0);
}
.clock .clockFace .digitalClock #sec {
  display: flex;
  justify-content: center !important;
}
.clock .clockFace .digitalClock #sec p {
  margin-top: 10%;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
}
.clock .clockFace .digitalClock #min {
  display: flex;
  justify-content: center !important;
}
.clock .clockFace .digitalClock #min p {
  margin-top: 10%;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
}
.clock .clockFace .digitalClock #hr {
  display: flex;
  justify-content: center !important;
}
.clock .clockFace .digitalClock #hr p {
  margin-top: 10%;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
}
.clock .clockFace .dots {
  height: 53%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-content: flex-end;
  transform-origin: 53% 90%;
  position: absolute;
  top: 1.7%;
  left: 48.32%;
}
.clock .clockFace .dots .dotsPara {
  margin: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
}
.clock .clockFace .dots .dotPara {
  margin: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  right: 3px;
  bottom: 6px;
}

@-webkit-keyframes clockRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes clockRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */